/* menu.css */
.menu-container {
    padding: 20px;
    justify-content: space-around;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  
  /* Add more styles as needed */
  
  .menu-section {
    margin-bottom: 100px;
    margin-bottom: 100px;
  }