/* menu.css */
.menu-container {
    padding: 20px;
    color: #03396C;
    margin-left: 100px;
    margin-right: 0;
    width: 1900px;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: white;
  }
  
  /* Add more styles as needed */
  
  .menu-section {
    margin-bottom: 100px;
    margin-bottom: 100px;
    font-weight: bold;
  }