nav {
    background-color: #03396C;
    color: white;
}

.Navbar-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 61px;
}

.navbar__nav-mobile {
    display: none;
    font-size: 40px;
}

.nav__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.navbar__navbar {
    display: flex;
    flex-direction: column;
}

.navbar__navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__logo > h1 {
    font-family: 'Prata', serif;
    color: white;
    font-size: 36.675px;
    font-weight: 400;
    margin-right: 90px;
}

/* .active {
    color: #263734;
} */

.nav__links > a {
    color: rgba(243, 248, 248, 0.8);
    font-family: Switzer;
    text-decoration: none;
    font-size: 24.116px;
    font-weight: 400;
    margin: 0 20px;
    text-align: center;

}

.nav__links_r > a {
    color: rgba(243, 248, 248, 0.8);
    font-family: Switzer;
    text-decoration: none;
    font-size: 24.116px;
    font-weight: 400;
    margin: 0 20px;
    text-align: center;
}

.nav__links_r > a:hover {
    color: orange; /* Change to the desired color */
}

.nav__links > a:hover {
    color: orange; /* Change to the desired color */
}

.nav__links-Order {
    color: #031218;
    border-radius: 15px;
    background: #e5e5e9;
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    font-family: Switzer;
    font-size: 24.116px;
    font-style: normal;
    font-weight: 400;
    margin-right: 35px;
    margin-left: 350px;
    display: flex;
}

@media (max-width: 768px) {
    .navbar__nav-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar__navbar-mobile {
        display: none;
    }

    .navbar__column {
        display: flex;
        flex-direction: column;
    }
}

.nav__links-Order:hover{
    color: orange;
    background: #e48749;
}

.halalLogo{
    height: 140px;
}