.footer{
    background-color: #03396C !important;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width:100%;
    bottom: 0;
  }
  
  .footer__heading{
    text-align: center;
    font-size: 40px;
  }
  .footer__description{
    text-align: center;
    justify-content: center;
  }
  